In [12]:
import pandas as pd
import sqlite3
import math
import datetime 
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

from IPython.core.display import display, HTML
display(HTML("<style>div.output_scroll { height: 44em; }</style>"))

In [13]:
conn = sqlite3.connect('database.db')

In [14]:
c = conn.cursor()

![](skema.png)

In [15]:
c.executescript('drop table if exists kota')
c.executescript('drop table if exists pelanggan')
c.executescript('drop table if exists barang')
c.executescript('drop table if exists transaksi')
c.execute("CREATE TABLE IF NOT EXISTS 'kota' ('id' INT, 'kota' VARCHAR(255) NULL, 'provinsi' VARCHAR(255) NULL, PRIMARY KEY ('id'))")
c.execute("CREATE TABLE IF NOT EXISTS 'pelanggan' ('id' INT, 'nama_customer' VARCHAR(255) NULL,'kota_id' INT NOT NULL, PRIMARY KEY ('id'), FOREIGN KEY ('kota_id') REFERENCES 'kota' ('id') ON DELETE NO ACTION ON UPDATE NO ACTION)")
c.execute("CREATE TABLE IF NOT EXISTS 'barang' ( 'id' INT, 'nama_barang' VARCHAR(255) NULL, 'harga_beli' FLOAT NULL, 'harga_jual' FLOAT NULL, 'jenis' VARCHAR(255), 'merk' VARCHAR(255), PRIMARY KEY ('id'))")
c.execute("CREATE TABLE IF NOT EXISTS 'transaksi' ( 'id', 'tanggal_transaksi' DATE NULL, 'jumlah_beli' INT NULL, 'pelanggan_id' INT NOT NULL,'barang_id' INT NOT NULL, PRIMARY KEY ('id'), FOREIGN KEY ('pelanggan_id') REFERENCES 'pelanggan' ('id') ON DELETE NO ACTION ON UPDATE NO ACTION, FOREIGN KEY ('barang_id') REFERENCES 'barang' ('id') ON DELETE NO ACTION ON UPDATE NO ACTION)")

In [16]:
df = pd.read_csv("dataset.csv")
df

,id,tanggal jual,nama customer,kota,provinsi,nama barang,merk,jenis,harga beli,harga jual,jumlah beli
0,1,1-5-2018,Tomi Bastian,Surabaya,jawa timur,lampu depan,fdr,accessories,10000,15000,1
1,2,1-6-2018,Achmad Faiz,Surabaya,jawa timur,lampu belakang,fdr,accessories,10000,15000,1
2,3,1-7-2018,Putra Dimas,Surabaya,jawa timur,kanvas rem,yanmar,rem,12000,16000,1
3,4,1-9-2018,Beny Sitanggang,Surabaya,jawa timur,oli mesin,yamalube,mesin,9000,10000,1
4,5,1-9-2018,Beny Sitanggang,Surabaya,jawa timur,rantai,castrol,mesin,9000,10000,1
...,...,...,...,...,...,...,...,...,...,...,...
146,147,3-20-2020,Budi Setyawan,Surabaya,jawa timur,oli mesin,castrol,mesin,48000,50000,1
147,148,3-21-2020,Bayu Setya,Surabaya,jawa timur,skok,kawasaki,skok,480000,500000,1
148,149,3-22-2020,Rois rahmad,Gresik,jawa timur,skok,kawasaki,skok,480000,500000,1
149,150,3-22-2020,Fiki nur,Surabaya,jawa timur,skok,kawasaki,skok,480000,500000,1
150,151,3-24-2020,Rocky Juan,Surabaya,jawa timur,skok,kawasaki,skok,480000,500000,1

In [17]:
kota = []
pelanggan = []
barang = []
for i,j in df.iterrows():
    if [j[3] ,j[4]] not in kota:
        kota.append([j[3],j[4]])
        
    k = -1
    for index, value in enumerate(kota):
        if value == j[3]:
            k = index+1
            break
        
    if [j[2], k] not in pelanggan:
        pelanggan.append([j[2],k])
        
    if isinstance(j[5], str):
        if [j[5],j[8], j[9], j[7], j[6]] not in barang:
            barang.append([j[5],j[8], j[9], j[7], j[6]])

                           
transaksi = []
for i,j in df.iterrows():   
    p = -1
    for index, value in enumerate(pelanggan):
        if value[0] == j[2]:
            p = index+1
            break

    bar = -1
    for index, value in enumerate(barang):
        if value[0] == j[5]:
            bar = index+1
    
    
    transaksi.append([datetime.datetime.strptime(j[1], '%m-%d-%Y').strftime('%Y-%m-%d'), j[10], p, bar])

In [18]:
c.execute("DELETE FROM KOTA")
for index, i in enumerate(kota): 
    c.execute("INSERT INTO KOTA VALUES(" + str(index+1) + ", '" + str(i[0]) + "','" + str(i[1]) + "')")

c.execute("DELETE FROM PELANGGAN")
for index, i in enumerate(pelanggan):
    c.execute("INSERT INTO PELANGGAN VALUES(" + str(index+1) + ", '" + str(i[0]) + "'," + str(i[1]) + ")") 
    
c.execute("DELETE FROM BARANG")
for index, i in enumerate(barang): 
    c.execute("INSERT INTO BARANG VALUES(" + str(index+1) + ", '" + str(i[0]) + "','" + str(i[1]) + "','" + str(i[2]) + "','"+ str(i[3]) + "','"+ str(i[4]) +"')")

c.execute("DELETE FROM TRANSAKSI")
for index, i in enumerate(transaksi):
    pelanggan_id = i[2] 
    barang_id = i[3]
    c.execute("INSERT INTO TRANSAKSI VALUES(" + str(index+1) + ", '" + str(i[0]) + "','" + str(i[1]) + "'," + str(pelanggan_id) + "," + str(barang_id) + ")")    
    
conn.commit()

In [19]:
c.execute('''SELECT * FROM KOTA''')

KOTA = []
for row in c.fetchall():
    KOTA.append(row)
print("========================KOTA================================")
print(KOTA)
print("============================================================")


c.execute('''SELECT * FROM BARANG''')

KOTA = []
for row in c.fetchall():
    KOTA.append(row)
print("========================BARANG================================")
print(KOTA)
print("============================================================")

c.execute('''SELECT * FROM TRANSAKSI''')
KOTA = []
for row in c.fetchall():
    KOTA.append(row)
print("========================TRANSAKSI================================")
print(KOTA)
print("============================================================")

========================KOTA================================
[(1, 'Surabaya', 'jawa timur'), (2, 'Malang', 'jawa timur'), (3, 'Jember', 'jawa timur'), (4, 'Sidoarjo', 'jawa timur'), (5, 'Gresik', 'jawa timur')]
============================================================
========================BARANG================================
[(1, 'lampu depan', 10000.0, 15000.0, 'accessories', 'fdr'), (2, 'lampu belakang', 10000.0, 15000.0, 'accessories', 'fdr'), (3, 'kanvas rem', 12000.0, 16000.0, 'rem', 'yanmar'), (4, 'oli mesin', 9000.0, 10000.0, 'mesin', 'yamalube'), (5, 'rantai', 9000.0, 10000.0, 'mesin', 'castrol'), (6, 'velg', 100000.0, 110000.0, 'velg', 'vrossi'), (7, 'ban luar', 10000.0, 10000.0, 'ban', 'fdr'), (8, 'ban dalam', 7000.0, 18000.0, 'ban', 'fdr'), (9, 'busi', 9000.0, 12000.0, 'mesin', 'tdr'), (10, 'oli mesin', 50000.0, 70000.0, 'mesin', 'castrol'), (11, 'spion', 12000.0, 17000.0, 'accessories', 'yamaha'), (12, 'skok', 90000.0, 100000.0, 'skok', 'honda'), (13, 'ban dalam', 10000.0, 120000.0, 'ban', 'fdr'), (14, 'jok motor', 10000.0, 12000.0, 'accessories', 'custom'), (15, 'hangrip', 40000.0, 90000.0, 'accessories', 'rcb'), (16, 'tangki', 140000.0, 190000.0, 'mesin', 'yamaha'), (17, 'lampu sen', 12000.0, 18000.0, 'accessories', 'yamaha'), (18, 'ruji', 100000.0, 130000.0, 'ban', 'honda'), (19, 'lampu belakang', 9000.0, 190000.0, 'accessories', 'fdr'), (20, 'oli mesin', 20000.0, 19000.0, 'mesin', 'honda'), (21, 'oli mesin', 80000.0, 18000.0, 'mesin', 'honda'), (22, 'bagasi motor', 170000.0, 190000.0, 'accessories', 'honda'), (23, 'jok motor', 85000.0, 87000.0, 'accessories', 'custom'), (24, 'jok motor', 67000.0, 98000.0, 'accessories', 'custom'), (25, 'rantai', 12000.0, 13000.0, 'mesin', 'yamaha'), (26, 'velg', 13000.0, 14000.0, 'ban', 'yanmar'), (27, 'ban', 16000.0, 190000.0, 'ban', 'yanmar'), (28, 'lampu belakang', 15000.0, 12200.0, 'accessories', 'tdr'), (29, 'air aki', 14000.0, 15000.0, 'aki', 'yuasa'), (30, 'air aki', 14000.0, 19000.0, 'aki', 'yuasa'), (31, 'aki', 18000.0, 19000.0, 'aki', 'yuasa'), (32, 'ruji', 20000.0, 21000.0, 'ban', 'fdr'), (33, 'skok', 29000.0, 31000.0, 'skok', 'honda'), (34, 'spion', 89000.0, 91000.0, 'accessories', 'honda'), (35, 'air aki', 87000.0, 90000.0, 'aki', 'yuasa'), (36, 'aki', 71000.0, 78000.0, 'aki', 'yuasa'), (37, 'rantai', 87000.0, 89000.0, 'mesin', 'suzuki'), (38, 'aki', 76000.0, 76000.0, 'aki', 'yuasa'), (39, 'oli mesin', 87000.0, 88000.0, 'mesin', 'suzuki'), (40, 'rantai', 75000.0, 76000.0, 'mesin', 'suzuki'), (41, 'ruji', 73000.0, 78000.0, 'ban', 'yamaha'), (42, 'skok', 9000.0, 10000.0, 'skok', 'tdr'), (43, 'tangi', 11000.0, 13000.0, 'accessories', 'custom'), (44, 'aki', 17000.0, 150000.0, 'aki', 'yuasa'), (45, 'lampu belakang', 18000.0, 19000.0, 'accessories', 'custom'), (46, 'ban dalam', 8600.0, 10000.0, 'ban', 'fdr'), (47, 'ban luar', 1700.0, 2000.0, 'ban', 'fdr'), (48, 'lampu depan', 1701.0, 2001.0, 'accessories', 'kawasaki'), (49, 'lampu depan', 1702.0, 2002.0, 'accessories', 'kawasaki'), (50, 'lampu depan', 1703.0, 2003.0, 'accessories', 'kawasaki'), (51, 'ruji]', 1704.0, 2004.0, 'ban', 'tdr'), (52, 'skok', 1705.0, 2005.0, 'skok', 'kawasaki'), (53, 'aki', 1706.0, 2006.0, 'aki', 'yuasa'), (54, 'velg', 1707.0, 2007.0, 'ban', 'kawasaki'), (55, 'rem', 1708.0, 2008.0, 'mesin', 'yanmar'), (56, 'aki', 1709.0, 2009.0, 'aki', 'yuasa'), (57, 'bagasi motor', 1710.0, 2010.0, 'accessories', 'piaggio'), (58, 'bagasi motor', 1711.0, 2011.0, 'accessories', 'piaggio'), (59, 'kanvas rem', 1712.0, 2012.0, 'mesin', 'rossi'), (60, 'jok motor', 1713.0, 2013.0, 'accessories', 'custom'), (61, 'aki', 1714.0, 2014.0, 'aki', 'yuasa'), (62, 'air aki', 1715.0, 2015.0, 'aki', 'yuasa'), (63, 'ban dalam', 1716.0, 2016.0, 'ban', 'fdr'), (64, 'ban dalam', 1717.0, 2017.0, 'ban', 'fdr'), (65, 'skok', 1718.0, 2018.0, 'skok', 'fdr'), (66, 'skok', 1719.0, 2019.0, 'skok', 'fdr'), (67, 'ruji', 1720.0, 2020.0, 'ban', 'honda'), (68, 'bagasi motor', 1721.0, 2021.0, 'accessories', 'yamaha'), (69, 'ruji', 1722.0, 2022.0, 'ban', 'yamaha'), (70, 'tangki', 1723.0, 2023.0, 'accessories', 'yamaha'), (71, 'rantai', 1724.0, 2024.0, 'mesin', 'fdr'), (72, 'skok', 1725.0, 2025.0, 'skok', 'rossi'), (73, 'bagasi motor', 1726.0, 2026.0, 'accessories', 'yanmar'), (74, 'aki', 1727.0, 2027.0, 'aki', 'yuasa'), (75, 'air aki', 1728.0, 2028.0, 'aki', 'yuasa'), (76, 'ban dalam', 1729.0, 2029.0, 'ban', 'fdr'), (77, 'lampu depan', 1730.0, 2030.0, 'accessories', 'suzuki'), (78, 'lampu belakang', 1731.0, 2031.0, 'accessories', 'suzuki'), (79, 'air aki', 1732.0, 2032.0, 'aki', 'yuasa'), (80, 'jok motor', 1733.0, 2033.0, 'accessories', 'custom'), (81, 'ruji', 60000.0, 75000.0, 'ban', 'kawasaki'), (82, 'kanvas rem', 18000.0, 20000.0, 'rem', 'yanmar'), (83, 'bensin', 9000.0, 10000.0, 'bensin', 'pertalite'), (84, 'oli mesin', 48000.0, 50000.0, 'mesin', 'honda'), (85, 'oli mesin', 48000.0, 50000.0, 'mesin', 'kawasaki'), (86, 'ruji', 60000.0, 75000.0, 'ban', 'yanmar'), (87, 'ban luar', 180000.0, 200000.0, 'ban', 'fdr'), (88, 'ban dalam', 180000.0, 200000.0, 'ban', 'tdr'), (89, 'bagasi motor', 48000.0, 50000.0, 'accessories', 'honda'), (90, 'oli mesin', 48000.0, 50000.0, 'mesin', 'castrol'), (91, 'skok', 480000.0, 500000.0, 'skok', 'kawasaki'), (92, 'spion click', 40000.0, 50000.0, 'accessories', 'honda'), (93, 'ruji', 1704.0, 2004.0, 'ban', 'tdr'), (94, 'roller', 50000.0, 60000.0, 'mesin', 'ktc'), (95, 'vanbelt', 90000.0, 100000.0, 'mesin', 'daytona'), (96, 'Velg', 500000.0, 550000.0, 'ban', 'Rcb'), (97, 'Master rem', 300000.0, 320000.0, 'rem', 'Rcb')]
============================================================
========================TRANSAKSI================================
[(1, '2018-01-05', 1, 1, 77), (2, '2018-01-06', 1, 2, 78), (3, '2018-01-07', 1, 3, 82), (4, '2018-01-09', 1, 4, 90), (5, '2018-01-09', 1, 4, 71), (6, '2018-01-10', 1, 5, 54), (7, '2018-01-10', 1, 6, 54), (8, '2018-01-12', 1, 7, 87), (9, '2019-01-13', 1, 8, 87), (10, '2019-01-14', 1, 9, 88), (11, '2019-01-15', 1, 10, 9), (12, '2019-01-16', 1, 11, 90), (13, '2019-01-17', 1, 12, 34), (14, '2019-01-18', 1, 13, 91), (15, '2019-01-19', 1, 14, 88), (16, '2019-01-20', 1, 15, 80), (17, '2019-01-21', 1, 16, 80), (18, '2019-01-22', 1, 17, 15), (19, '2019-01-22', 1, 18, 70), (20, '2019-01-24', 1, 19, 17), (21, '2019-01-25', 1, 20, 93), (22, '2019-01-25', 1, 21, 78), (23, '2019-01-27', 1, 22, 90), (24, '2019-01-28', 1, 23, 90), (25, '2019-01-29', 1, 24, 89), (26, '2019-01-31', 1, 25, 80), (27, '2019-01-31', 1, 26, 80), (28, '2019-02-02', 1, 27, 71), (29, '2019-02-02', 1, 28, 54), (30, '2019-02-03', 1, 29, 27), (31, '2019-02-05', 1, 30, 78), (32, '2019-02-05', 1, 30, 79), (33, '2019-02-06', 1, 31, 79), (34, '2019-02-06', 1, 24, 74), (35, '2019-02-07', 1, 28, 93), (36, '2019-02-08', 1, 32, 91), (37, '2019-02-10', 1, 13, 34), (38, '2019-02-11', 1, 26, 79), (39, '2019-02-12', 1, 24, 74), (40, '2018-02-13', 1, 33, 71), (41, '2018-02-13', 1, 34, 74), (42, '2018-02-15', 1, 35, 90), (43, '2018-02-16', 1, 36, 71), (44, '2019-02-17', 1, 8, 93), (45, '2019-02-18', 1, 37, 91), (46, '2018-02-19', 1, 31, 43), (47, '2018-02-20', 1, 38, 74), (48, '2018-02-21', 1, 30, 78), (49, '2018-02-22', 1, 32, 88), (50, '2019-02-23', 1, 39, 87), (51, '2018-02-24', 1, 29, 77), (52, '2019-02-25', 1, 23, 77), (53, '2019-02-26', 1, 13, 77), (54, '2019-02-27', 1, 32, 51), (55, '2019-02-28', 1, 40, 91), (56, '2019-03-01', 1, 41, 74), (57, '2019-03-02', 1, 16, 54), (58, '2019-03-03', 1, 42, 55), (59, '2019-03-04', 1, 16, 74), (60, '2019-03-05', 1, 25, 89), (61, '2019-03-06', 1, 25, 89), (62, '2019-03-07', 1, 13, 82), (63, '2019-03-08', 1, 13, 80), (64, '2019-03-09', 1, 43, 74), (65, '2019-03-10', 1, 17, 79), (66, '2019-03-11', 1, 37, 88), (67, '2019-03-12', 1, 39, 88), (68, '2019-03-03', 1, 32, 91), (69, '2019-03-14', 1, 37, 91), (70, '2019-03-15', 1, 44, 93), (71, '2019-03-16', 1, 13, 89), (72, '2019-03-17', 1, 36, 93), (73, '2019-03-18', 1, 25, 70), (74, '2019-03-19', 1, 40, 71), (75, '2019-03-20', 1, 34, 91), (76, '2020-01-09', 1, 33, 89), (77, '2020-01-10', 1, 27, 74), (78, '2020-01-11', 1, 23, 79), (79, '2020-01-12', 1, 44, 88), (80, '2018-01-13', 1, 39, 77), (81, '2018-01-14', 1, 43, 78), (82, '2018-01-15', 1, 27, 79), (83, '2020-01-15', 1, 45, 80), (84, '2020-01-17', 1, 35, 93), (85, '2020-01-18', 1, 46, 82), (86, '2020-01-19', 1, 47, 83), (87, '2018-01-20', 1, 48, 90), (88, '2020-01-21', 1, 23, 90), (89, '2020-01-21', 1, 34, 83), (90, '2020-01-23', 1, 23, 83), (91, '2018-01-24', 1, 49, 93), (92, '2018-01-25', 1, 50, 93), (93, '2020-01-26', 1, 51, 87), (94, '2020-01-27', 1, 52, 88), (95, '2020-01-27', 1, 53, 89), (96, '2020-01-29', 1, 54, 90), (97, '2018-01-30', 1, 55, 91), (98, '2020-01-30', 1, 56, 91), (99, '2020-02-01', 1, 57, 91), (100, '2020-02-02', 1, 58, 91), (101, '2020-02-03', 1, 59, 92), (102, '2018-02-02', 1, 60, 77), (103, '2020-02-05', 1, 61, 77), (104, '2020-02-06', 1, 61, 77), (105, '2020-02-07', 1, 62, 93), (106, '2020-02-08', 1, 63, 91), (107, '2020-02-09', 1, 64, 74), (108, '2020-02-10', 1, 64, 54), (109, '2020-02-10', 1, 65, 55), (110, '2020-02-12', 1, 66, 74), (111, '2020-02-13', 1, 67, 89), (112, '2020-02-13', 1, 68, 89), (113, '2020-02-15', 1, 69, 82), (114, '2020-02-16', 1, 69, 80), (115, '2020-02-17', 1, 70, 74), (116, '2020-02-18', 1, 71, 79), (117, '2020-02-19', 1, 72, 88), (118, '2020-02-20', 1, 73, 88), (119, '2020-02-21', 1, 74, 91), (120, '2020-02-22', 1, 75, 91), (121, '2020-02-23', 1, 76, 93), (122, '2020-02-24', 1, 77, 89), (123, '2020-02-25', 1, 77, 93), (124, '2020-02-26', 1, 25, 70), (125, '2020-02-27', 1, 78, 71), (126, '2020-02-28', 1, 79, 91), (127, '2020-02-29', 1, 80, 89), (128, '2020-03-01', 1, 81, 74), (129, '2020-03-02', 1, 82, 79), (130, '2020-03-03', 1, 83, 92), (131, '2020-03-04', 1, 84, 94), (132, '2020-03-05', 1, 85, 95), (133, '2020-03-06', 1, 86, 96), (134, '2020-03-07', 1, 87, 97), (135, '2020-03-08', 1, 88, 93), (136, '2020-03-09', 1, 89, 82), (137, '2020-03-10', 1, 90, 83), (138, '2020-03-11', 1, 91, 90), (139, '2020-03-12', 1, 92, 90), (140, '2020-03-13', 1, 93, 83), (141, '2020-03-14', 1, 94, 83), (142, '2020-03-15', 1, 95, 93), (143, '2020-03-16', 1, 96, 93), (144, '2020-03-17', 1, 97, 87), (145, '2020-03-18', 1, 52, 88), (146, '2020-03-18', 1, 98, 89), (147, '2020-03-20', 1, 99, 90), (148, '2020-03-21', 1, 100, 91), (149, '2020-03-22', 1, 101, 91), (150, '2020-03-22', 1, 102, 91), (151, '2020-03-24', 1, 103, 91)]
============================================================

In [ ]:
kota = 'Surabaya'
c.execute('''SELECT strftime('%Y', transaksi.tanggal_transaksi), sum(transaksi.jumlah_beli) as total
          FROM transaksi join pelanggan on pelanggan.id = transaksi.pelanggan_id 
          join kota on kota.id = pelanggan.kota_id 
          join barang on barang.id = transaksi.barang_id
          where kota.kota = "''' + str(kota) +'''"
          group by strftime('%Y', transaksi.tanggal_transaksi), kota.kota
          order by date(transaksi.tanggal_transaksi) ASC
          ''')